/* CARD Style */
.border-card {border:1px solid #ffd9f1;}
.border-card:hover {border-color: #a00065; -webkit-transition: .55s all ease; -o-transition: .55s all ease; transition: .55s all ease}
/* End Cards Styling */

/* Language Selector */
/* Reset Select */
.lang select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #a00065;
    background-image: none;
  }
  /* Custom Select */
  .lang {
    position: relative;
    display: block;
    width: 7em;
    height: 2em;
    line-height: 1;
    background: #a00065;
    overflow: hidden;
    border-radius: .25em;
  }
  .lang select {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0.13em 0 0 .8em;
    color: #fff;
    cursor: pointer;
  }
  .lang select::-ms-expand {
    display: none;
  }
  /* Arrow */
  .lang::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0.56em 0.53em;
    background: #000;
    pointer-events: none;
  }
  /* Transition */
  .lang:hover::after {
    color: #a00065;
  }
  .lang::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
/* End Language Selector */

/* Accordion Design */
.trans-list,.card-list  {min-height: 50vh;}
.card-header { padding: 0.1rem 1.25rem !important}
.btn-nl {text-decoration: none !important; font-weight: 600;}

/* Dashboard Padding */
.dash-opt { padding: 50px 50px 10px 50px !important;}
.fs-13 {font-size: 13px;}

/* ============= Summary Page Style ============= */

.t-contain
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    font-size: 0.85vw;
}
.t-left 
{
    background: #e8e8e8;
    margin-bottom: 30px;
    font-weight: 600;
}
.t-right 
{
    font-weight: 600;
}
.t-left div,.t-right div 
{
    border-bottom: 1px solid rgb(201, 201, 201);
    padding: 2px 50px 2px 25px;
}
.table-contain 
{
    display: flex;
    font-size: 12px;
}
.table-left, .table-right 
{
    flex: 1;
    padding: 5px;
    justify-content: center;
}
.center-itemz { 
    justify-content: center; 
}
.label-2 { padding-left: 5px; font-size: 11px !important;}
.label-3 { font-size: 11px !important;}
.pad-2 { padding: 15px 10px 0px 10px;}
.tc {padding-right: 0rem !important;}

@media (min-width: 320px) and (max-width: 480px)
{
    .mr-sm-30 {margin-right:30px}

    .m-nomargin {margin:0rem !important}
    .m-nopadding {padding:0rem !important}

    .languagepicker {visibility: hidden;}
    .test .offset-3 { margin-left: 0%; margin:20px;}
    .test .display-4 { font-size: 2.5rem;}
    .trans-list,.card-list {min-height: 10vh;}
    .card-header { padding: 0.1rem 0.55rem !important}
    .dash-opt { padding: 20px !important;margin:20px;}
}

@media only screen and (max-width: 600px) 
{
    .t-contain 
    {
        font-size: 3vw;
    }
    .t-left div,.t-right div 
    {
        border-bottom: 1px solid rgb(201, 201, 201);
        padding: 2px 10px 2px 5px;
    }
    .table-contain 
    {
        flex-direction: column;
    }
    .pad-2 { padding: 20px 10px;}
}
/* ============================================ */

.card-specta {     border: 1px solid #fff1fa !important;}