/* CARD Style */
.number-holder
{
    margin-bottom: 30px;
    padding:10px 20px;
}
.token-back {background: #ffd8f1;}
.token-border {border:4px solid #ffd9f1;}

.decline-back {background: #eeeeee;}
.decline-border {border:4px solid #eeeeee;}

.card-indicator {background-color:green; padding:3px 6px; border-radius:3px; color:#fff; font-size:10px;}
/* End Cards Styling */

/* Language Selector */
/* Reset Select */
.lang select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #a00065;
    background-image: none;
  }
  /* Custom Select */
  .lang {
    position: relative;
    display: block;
    width: 7em;
    height: 2em;
    line-height: 1;
    background: #a00065;
    overflow: hidden;
    border-radius: .25em;
  }
  .lang select {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0.13em 0 0 .8em;
    color: #fff;
    cursor: pointer;
  }
  .lang select::-ms-expand {
    display: none;
  }
  /* Arrow */
  .lang::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0.56em 0.53em;
    background: #000;
    pointer-events: none;
  }
  /* Transition */
  .lang:hover::after {
    color: #a00065;
  }
  .lang::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
/* End Language Selector */

/* Accordion Design */
.trans-list,.card-list  {min-height: 50vh;}
.card-header { padding: 0.1rem 1.25rem !important}
.btn-nl {text-decoration: none !important; font-weight: 600;}

/* Dashboard Padding */
.dash-opt { padding: 50px 50px 10px 50px !important;}
.fs-13 {font-size: 13px;}

/* ============= FAQ Page Style ============== */

.faq-title h2 {
  position: relative;
  margin-bottom: 45px;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
}
.faq-title h2::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 60px;
    height: 2px;
    background: #E91E63;
    bottom: -25px;
    margin-left: -30px;
}
.faq-title p {
  padding: 0 190px;
  margin-bottom: 10px;
}

.faq {
  background: #FFFFFF;
  /* box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06); */
  border-radius: 4px;
}

.faq .card {
  border: none;
  background: none;
  border-bottom: 1px dashed #CEE1F8;
}

.faq .card .card-header {
  padding: 0px;
  border: none;
  background: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.faq .card .card-header:hover {
    background: rgba(233, 30, 99, 0.1);
    padding-left: 10px;
}
.faq .card .card-header .faq-title {
  width: 100%;
  text-align: left;
  padding: 0px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  color: #000;
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 0px;
}

.faq .card .card-header .faq-title .badge {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 13px;
    padding-right: 3px;
    float: left;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    text-align: center;
    background: #E91E63;
    color: #fff;
    font-size: 12px;
    margin-right: 10px;
    font-size: 11px;
}

.faq .card .card-body {
  padding: 30px;
  padding-left: 35px;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  letter-spacing: 1px;
  text-align: justify;
  border-top: 1px solid #F3F8FF;
}

.faq .card .card-body p {
  margin-bottom: 14px;
}

@media (max-width: 991px) {
  .faq {
    margin-bottom: 30px;
  }
  .faq .card .card-header .faq-title {
    line-height: 26px;
    margin-top: 10px;
  }
}

/* ============= End FAQ ============= */
/* ============= Summary Page Style ============= */

.t-contain
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    font-size: 0.85vw;
}
.t-left 
{
    background: #e8e8e8;
    margin-bottom: 30px;
    font-weight: 600;
}
.t-right 
{
    font-weight: 600;
}
.t-left div,.t-right div 
{
    border-bottom: 1px solid rgb(201, 201, 201);
    padding: 2px 50px 2px 25px;
}
.table-contain 
{
    display: flex;
    font-size: 12px;
}
.table-left, .table-right 
{
    flex: 1;
    padding: 5px;
    justify-content: center;
}
.center-itemz { 
    justify-content: center; 
}
.label-2 { padding-left: 5px; font-size: 11px !important;}
.label-3 { font-size: 11px !important;}
.pad-2 { padding: 15px 10px 0px 10px;}
.tc {padding-right: 0rem !important;}

@media (min-width: 320px) and (max-width: 480px)
{
    .mr-sm-30 {margin-right:30px}

    .m-nomargin {margin:0rem !important}
    .m-nopadding {padding:0rem !important}

    .languagepicker {visibility: hidden;}
    .test .offset-3 { margin-left: 0%; margin:20px;}
    .test .display-4 { font-size: 2.5rem;}
    .trans-list,.card-list {min-height: 10vh;}
    .card-header { padding: 0.1rem 0.55rem !important}
    .dash-opt { padding: 20px 10px 20px 10px !important;margin:10px;}
}

@media only screen and (max-width: 600px) 
{
    .t-contain 
    {
        font-size: 3vw;
    }
    .t-left div,.t-right div 
    {
        border-bottom: 1px solid rgb(201, 201, 201);
        padding: 2px 10px 2px 5px;
    }
    .table-contain 
    {
        flex-direction: column;
    }
    .pad-2 { padding: 20px 10px;}
}
/* ============================================ */

.card-specta {     border: 1px solid #fff1fa !important;}